/* CSS file for the project of my website
The main goal is to learn the basic of website making

Hopefully to make soemthing that could be useful*/


* {
    font-family: 'Bahnschrift', sans-serif;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.link {
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    padding: 0em;
    text-align: center;
    height: 10%;
}

.title {
    margin: 0.5em;
    width: 100%;
    text-align: center;
}

.settings-menu {
    position: relative;
    padding-right: 2%;
}

#back-button {
    position: relative;
    padding-left: 2%;
}

.tiny-vertical-space {
    height: 3px;
    width: 100%;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

.settings-dropdown {
    display: none;
    position: fixed;
    top: 70px;
    right: 0;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 7%;
    z-index: 20;
}

.dropdown-element {
    height: 34px;
}

.light-theme-settings .dark-theme-settings {
    cursor: pointer;
}

#light-theme-arrow #dark-theme-arrow {
    cursor: pointer;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    left: 0;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-icon {
    position: relative;
    float: right;
    margin-left: 3px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 2px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25%;
    width: 60px;
    clear: both;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.theme-switch .theme-icon {
    right: 2px;
    vertical-align: middle;
}

.language-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    font-family: 'Noto Color Emoji';
}

.language-icon {
    height: 32px;
    margin: auto;
}

html,
body,
.page-content {
    height: 100%;
    margin: 0;
}

.main-content {
    display: flex;
    height: 84%;
}

.left-column,
.right-column {
    width: 50%;
    padding: 16px;
    text-align: center;
    height: 100%;
    transition: transform 0.2s;
}

.left-column:hover,.right-column:hover{
    transform: scale(1.1);
}

.column-title {
    position: relative;
    top: 300px;
    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
}

.content-container {
    padding: 5%;
}


pre {
    background-color: #000000;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    width: 40%;
    height: fit-content;
}

code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 87.5%;
    color: #ffffff;
    width: 100%;
    height: fit-content;
}

pre code {
    background-color: transparent;
    border-radius: 0;
    font-size: 100%;
    line-height: 1.45;
    padding: 0;
}

.intro-page {
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
    text-indent: 4em;
    font-size: 1.2em;
    text-align: justify;
    height: fit-content;
    display: block;
    position: relative;
}

.display-list {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    /*border: 3px solid #000000;*/
    height: 500px;
    position: absolute;
    top: 27%;
}

.project-display {
    position: relative;
    width: 100%;
    height : 200px;
    border: 2px solid #ccc;
    border-radius: 1pc;
    margin-bottom: 2em;
    background-color: #fff;
}
.dark-theme .project-display {
    background-color: #333;
    border-color: #222;
}

.dark-theme .project-display:hover {
    background-color: #222;
}
.project-display:hover {
    background-color: #bbb;
}

.project-top-bar {
    width: 100%;
    height: 30px;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    background-color: #ccc;
    border-radius: 0.6pc 0.6pc 0 0;
}
.dark-theme .project-top-bar{
    background-color: #000000;
}

.project-name {
    position: relative;
    top: 2px;
    left: 8px;
}

.project-flags {
    justify-content: flex-end;
    margin-top: 1px;
    margin-left: auto;
    display: flex;
    width: fit-content;
}

.dark-theme .project-flag{
    border: 1px solid #ccc;
}
.project-flag {
    padding-left: 1em;
    padding-right: 1em;
    width: fit-content;
    border: 1px solid #222;
    border-radius: 1pc;
}

.project-short {
    padding: 3em;
    position: relative;
}